@import "primeicons/primeicons.css";

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-image: linear-gradient(
    to right top,
    #282f3e,
    #242936,
    #161c2c,
    #12192b,
    #0f172a
  );
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.error {
  color: red;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

html {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

body {
  margin: 0;
  padding: 0;
}
