alembic
alchemical
apifairy
faker
flask
flask-cors
flask-httpauth
flask-mail
flask-marshmallow
flask-sqlalchemy
gunicorn
marshmallow-sqlalchemy
pyjwt
python-dotenv
sqlalchemy
pillow
python-slugify
mokkari
babel
pandas
openpyxl
babel
