@import "tailwindcss";
@plugin "daisyui" {
  themes: night;
}

@theme {
  --animate-wiggle: wiggle 0.3s ease-in-out infinite;

  @keyframes wiggle {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1.5deg);
    }
    100% {
      transform: rotate(-1deg);
    }
  }
}